@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.projects {
  @include section;

  &__container {
    @include container; 
  }

  &__header {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: $spacing-lg;
    margin: $spacing-2xl 0px;

    @include max-width($breakpoint-md) {
      margin: 0px 0px $spacing-2xl 0px;
    }
  }

  &__grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(
      auto-fit,
      minmax(320px, 1fr)
    );

    @include min-width($breakpoint-lg) {
      gap: 24px;
      grid-template-columns: repeat(
        auto-fit,
        minmax(380px, 1fr)
      );
    }
  }
}
